title: 我的个人博客
subtitle: null
description: 知识整理
author: liyuanbiao
language: zh-Hans
timezone: null
url: 'https://liyuanbiao100.github.io/'
root: /
permalink: ':category/:title/'
permalink_defaults: null
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: ':lang'
skip_render: null
new_post_name: ':title.md'
default_layout: post
titlecase: false
external_link: true
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: null
index_generator:
  path: ''
  per_page: 10
  order_by: '-date'
default_category: uncategorized
category_map: null
tag_map: null
date_format: YYYY-MM-DD
time_format: 'HH:mm:ss'
per_page: 10
pagination_dir: page
theme: next
deploy:
  type: git
  repo:
    gitee: 'git@gitee.com:liyuanbiao/liyuanbiao.git'
    github: 'git@github.com:liyuanbiao100/liyuanbiao100.github.io.git'
  branch: master
feed:
  type: rss2
  path: rss2.xml
  limit: 30
  hub: null
  content: true
  content_limit: 140
  content_limit_delim: ' '
jsonContent:
  meta: false
  pages: false
  posts:
    title: true
    date: true
    path: true
    text: false
    raw: false
    content: false
    slug: false
    updated: false
    comments: false
    link: false
    permalink: false
    excerpt: false
    categories: false
    tags: true
